---
import { CollectionEntry, render } from "astro:content";
import Page from "../../../layouts/Page.astro";
import Layout from "../../../layouts/Layout.astro";
import { createRoute } from "astro-typesafe-routes/create-route";
import { getAllPublicPosts } from "../../../lib/content/query";
import { $path } from "astro-typesafe-routes/path";
import MDXRenderer from "../../../lib/mdx/MDXRenderer.astro";
import ContentContainer from "../../../components/ContentContainer.astro";
import OpenGraphArticle from "../../../components/meta/OpenGraph/OpenGraphArticle.astro";
import FormattedPostDate from "../../../features/posts/components/FormattedPostDate.astro";
import Link from "../../../components/Link.astro";

type Props = {
  post: CollectionEntry<"post">;
};

export const Route = createRoute({
  routeId: "/posts/[...id]",
});

export const getStaticPaths = Route.createGetStaticPaths<Props>(async () => {
  const posts = await getAllPublicPosts();
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
});

const { post } = Astro.props;
const { Content } = await render(post);
const OGImageURL = new URL(
  $path({ to: "/posts/[...id]/opengraph.png", params: { id: post.id } }),
  Astro.url,
);
---

<Page
  title={post.data.title}
  description={post.data.description}
  ogImage={{ url: OGImageURL, alt: post.data.title }}
>
  <Fragment slot="head">
    <OpenGraphArticle
      publishedTime={post.data.publishedAt.toInstant()}
      modifiedTime={post.data.updatedAt?.toInstant()}
      tags={post.data.tags}
    />
  </Fragment>

  <Layout>
    <ContentContainer>
      <div class="grid gap-y-2xs">
        <h1
          class="text-lg font-semibold md:text-2xl"
          transition:name={`post:title:${post.id}`}
        >
          {post.data.title}
        </h1>
        <div class="flex flex-row place-items-center gap-x-2xs">
          <FormattedPostDate
            class="text-sm text-zinc-500 dark:text-zinc-400"
            time={post.data.publishedAt}
            variant="long"
          />

          {
            post.data.tags.length > 0 && (
              <span class="text-sm text-zinc-500 dark:text-zinc-400">
                {" | "}
                {post.data.tags.map((tag, index) => (
                  <Fragment key={tag}>
                    <Link
                      href={$path({
                        to: "/posts",
                        search: {
                          tag: [tag],
                        },
                      })}
                      class="text-sm text-zinc-500 hover:text-zinc-700 dark:text-zinc-400 dark:hover:text-zinc-200"
                    >
                      {tag}
                    </Link>
                    {index < post.data.tags.length - 1 && ", "}
                  </Fragment>
                ))}
              </span>
            )
          }
        </div>
      </div>
      <article class="space-y-sm">
        <MDXRenderer Content={Content} />
      </article>
    </ContentContainer>
  </Layout>
</Page>
